/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    position: relative;
}


.wrapper {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
    transition: all 0.8s ease;
   
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/static/images/bg1.jpg');
    background-size: cover; /* Or contain */
    background-position: left; /* Or adjust as needed */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional */
     /* Ensure div takes full width */
    
}

header {
    background: linear-gradient(180deg,#0073BA,#5ba2ca );
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    
}

.upload-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.upload-item {
    position: relative;
    width: 48%;
}

input[type="file"] {
    display: none;
}

input[type="file"] + label {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 12px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"] + label:hover {
    background-color: #0056b3;
}

.status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.status-line {
    flex: 1;
    height: 4px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.status-circle {
    background-color: #e9ecef;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.status-circle p {
    font-size: 16px;
    color: #007bff;
}

.download-container {
    text-align: center;
}

button {
    background-color: #004d40;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #c6c6c6;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #218838;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg,#5ba2ca,#0073BA );
    color: white;
    text-align: center;
    padding: 10px;
    width: 70%;
    margin-left: 28%;
}