<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Merge Pipeline</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header style=" width: 30%;display: flex;justify-content: center; align-items: center;">
        <h1 style="line-height: 1.6;" >Emercury Report</h1>
    </header>
    <div style="width: 70%;" class="right">
        <div class="wrapper">
        
            <main>
                <form action="/" method="POST" enctype="multipart/form-data">
                    <div class="upload-container">
                        <div class="upload-item">
                            <input type="file" name="file1" id="fileInput1" />
                            <label for="fileInput1">Upload Emercury Report</label>
                        </div>
                        <div class="upload-item">
                            <input type="file" name="file2" id="fileInput2" />
                            <label for="fileInput2" style="width: 200px;">Upload Performance Report</label>
                        </div>
                    </div>
                    <div class="status-container">
                        <div class="status-line" id="statusLine1"></div>
                        <div class="status-circle" id="statusCircle">
                            <p id="text">Processing</p>
                        </div>
                        <div class="status-line" id="statusLine2"></div>
                    </div>
                    <div class="download-container">
                        <button id="downloadBtn" type="submit" disabled>Download Report</button>
                    </div>
                    
                </form>
            </main>
            
            
        </div>
        <footer>
            <p>Created by D-eveloper</p>
        </footer>

    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
